language: php

cache:
  directories:
  - $HOME/.composer

php:
    - 7.2
    - 7.3
    - 7.4

env:
    - SYMFONY_VERSION=5.0.*
    - SYMFONY_VERSION=5.1.*
    - SYMFONY_VERSION=5.2.*

before_install:
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/framework-bundle "$SYMFONY_VERSION"; fi

before_script:
  - composer install

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
- php vendor/bin/coveralls -v
