<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" executionOrder="random"
         resolveDependencies="true" bootstrap="./tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="test"/>
    </php>
    <logging>
        <junit outputFile="build/coverage/junit.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Functional">
            <directory>./tests/Functional</directory>
            <exclude>./tests/Functional/app</exclude>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="EmagTechLabs\AnnotationCacheBundle\Tests\ClearLogAndCacheTestListener"/>
    </listeners>
</phpunit>
