parameters:
  cache.service: cache.service

monolog:
    handlers:
        main:
            type:  test
            level: info

services:
   cache_warmer:
      class: Symfony\Component\HttpKernel\CacheWarmer\CacheWarmerAggregate
      arguments: [""]
   cache.service:
      class: Symfony\Component\Cache\Adapter\ArrayAdapter
   cache.testservice:
        class: CacheBundle\Tests\CacheableClass
   cache.testservice.extended:
        class: CacheBundle\Tests\ExtendedCacheableClass
   annotation_reader:
        class: Doctrine\Common\Annotations\AnnotationReader